---
import Layout from "../layouts/Layout.astro"
---
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>


<Layout title="form">
  <main class="flex justify-center">
    <form>
      <div class="flex flex-col h-[450px] w-[300px] border border-white border-opacity-20 shadow-[4.0px_8.0px_8.0px_rgba(0,0,0,0.38)] bg-white bg-opacity-10 backdrop-blur-md" >
          <p class="grid place-content-center w-full h-[15vh] font-bold text-gray-50 text-4xl">
          Register Here.
          <p/>
          <div class="flex justify-center items-center flex-col ml-3.5 border-t-[3px] border-b-[3px] w-11/12 pt-[5px] pb-[5px] " >
              <input class=" text-sm w-[90%] h-9 mt-[5px] mb-[5px] p-[5px] rounded-sm bg-gray-50 border border-gray-200 focus:outline-0 focus:dark:border-gray-600 text-gray-800 placeholder-gray-500 " type="email" placeholder="Email">
              <input class="text-sm w-[90%] h-9 mt-[5px] mb-[5px] p-[5px] rounded-sm bg-gray-50 border border-gray-200 focus:outline-0 focus:dark:border-gray-600 text-gray-800 placeholder-gray-500 " type="text" placeholder="Username"> 
              <div class="py-2 w-[100%] mt-[2px] mb-[5px]" x-data="{ show: true }">
                  <div class="flex justify-center relative">
                    <input placeholder="Password" :type="show ? 'password' : 'text'" class="text-sm w-[90%] h-9 mb-[5px] p-[5px] pr-[32px] rounded-sm bg-gray-50 border border-gray-200 focus:outline-0 focus:dark:border-gray-600 text-gray-800 placeholder-gray-500">
                    <div class="absolute inset-y-0 top-[-2px] right-2 pr-3 flex items-center text-sm leading-5">
                      <svg   
                      width="24"  
                      height="24"  
                      viewBox="0 0 24 24"  
                      fill="none"  
                      stroke="currentColor"  
                      stroke-width="2"  
                      stroke-linecap="round"  
                      stroke-linejoin="round"  
                      class="h-6 text-gray-700"
                      @click="show = !show"
                      :class="{'hidden': !show, 'block':show }">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                      </svg>
      
                      <svg  
                      width="24"  
                      height="24"  
                      viewBox="0 0 24 24"  
                      fill="none"  
                      stroke="currentColor"  
                      stroke-width="2"  
                      stroke-linecap="round"  
                      stroke-linejoin="round"  
                      class="h-6 text-gray-700"
                      @click="show = !show"
                      :class="{'block': !show, 'hidden':show }">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.585 10.587a2 2 0 0 0 2.829 2.828" /><path d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87" /><path d="M3 3l18 18" /></svg>
                    </div>
                  </div>
                </div>
          </div> 
          <span class="ml-[30px] mr-[30px] mt-[20px] mb-[20px] font-sans text-sm text-gray-50" >By signing up, you agree to our
          <a class="text-white font-bold" href="#" >Terms</a>
          &
          <a class="text-white font-bold" href="#" >Privacy Policy</a>
          </span> 
          <button class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-r hover:dark:from-blue-600 hover:dark:via-blue-700 hover:dark:to-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-xl text-lg py-2 text-center m-2">
          Register
          </button>
          <span class=" w-6/7 p-2 m-2 font-sans text-sm text-gray-50">
          Do you already have an account?
          
          <a class="text-white font-bold" href="/form-l">Log in.</a>
          </span>
      </div>
      </form>
  </main>
</Layout>
